PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio?retryWrites=true&w=majority

# Direct Email Dispatch Config (Gmail App Password)
EMAIL_USER=avuy2207@gmail.com
EMAIL_PASS=your_gmail_app_password_here
RECEIVER_EMAIL=avuy2207@gmail.com
